@model PokerAdmin.Models.Sesiune

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sesiune</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oras.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Joc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Joc.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezultat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezultat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jucator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jucator.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
